<main class="m-4">
     <div class="alert alert-warning" role="alert">
            <div class="row m-1">
                <div class="col-12 text-center">
                    Estás seguro de eliminar el pokemon {{pokemon.name}}  ?
                </div>                
            </div>   
            <div class="row">
                <div class="row-col-12 text-center mt-2">
                    <form method="post" action="/pokemones/eliminarPokemon">
                        <input type="hidden" name="Id" value="{{pokemon.id}}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="/pokemones" type="button" class="btn btn-warning">volver atras</a>
                    </form>
                </div>  
            </div>
        </div>
</main>